

<!DOCTYPE html>
<html>
    <head>
        <title>Lena's Photos</title>

    <link href='http://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css'>
      <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
   <link href="./css/ng.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href="./css/adipoli.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top" id="navTop">
    <div class="container">


      <a role="button" href="/" class="rsvpBtn">
      Home
      </a>
      <a role="button" href="/resume" class="rsvpBtn">
      Resume
      </a>

       <a role="button" href="/headshots" class=" active rsvpBtn">
      Headshots
      </a>
       <a role="button" href="/photos" class="rsvpBtn">
      Photos
      </a>
      <a role="button" href="/videos" class="rsvpBtn">
      Videos
      </a>
      <a role="button" href="#footer" class="rsvpBtn">
      Contact
      </a>
    </div>

<!--
<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com">  <i class="fa fa-twitter"></i></a>
            <a href="https://foursquare.com"> <i class="fa fa-foursquare"></i></a>
            <a href="https://instagram.com"><i class="fa fa-instagram"></i></a> -->
    </div>


    <br><br> <br>
    <div class="headshots">

<div class="container">



<div class="hsRow1">
  <a href="images/01.jpg">
<img type="application/octet-stream" src="images/01.jpg" class"col-xs-8 col-sm-8 col-md-3 col-lg-3"/>
</a>
<!-- <a href="Download This">Download This</a> -->
<a href="images/02.jpg">
<img src="images/02.jpg" class"col-xs-8 col-sm-8 col-md-3 col-lg-3" />
</a>
<!-- <a href="Download This">Download This</a> -->

<!-- <br> -->
<a href="images/01.jpg" download="Lena G HS #1" class="dL2">Download</a>
<a href="images/02.jpg" download="Lena G HS #2" class="dL2">Download</a>

</div>


<div class="hsRows">
  <a href="images/pphs3.jpg">
  <img src="images/pphs3.jpg" class"col-xs-8 col-sm-8 col-md-3 col-lg-3" /></a>
   <a href="images/pphs5.jpg">
<img src="images/pphs5.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6" />
</a>
 <a href="images/pphs8.jpg">
<img src="images/pphs8.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6" />
</a>
<a href="images/pphs3.jpg" download="Lena G HS #3" class="dL">Download</a>
<a href="images/pphs5.jpg" download="Lena G HS #4" class="dL">Download</a>
<a href="images/pphs8.jpg" download="Lena G HS #5" class="dL">Download</a>
</div>


<div class="hsRows">
   <a href="images/pphs9.jpg">
  <img src="images/pphs9.jpg" class"col-xs-8 col-sm-8 col-md-3 col-lg-3" /></a>
   <a href="images/pphs10.jpg">
<img src="images/ppsh10.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6" /></a>
 <a href="images/pphs6.jpg">
<img src="images/pphs6.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6" />
</a>

<a href="images/pphs9.jpg" download="Lena G HS #6" class="dL">Download </a>
<a href="images/pphs10.jpg" download="Lena G HS #7" class="dL">Download</a>
<a href="images/pphs6.jpg" download="Lena G HS #8" class="dL">Download</a>
</div>

<div class="hs2 ">
 <a href="images/pphs1.jpg">
<img src="images/pphs1.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6"  /></a>
 <a href="images/pphs11.jpg">
<img src="images/pphs11.jpg" class"col-xs-8 col-sm-8 col-md-6 col-lg-6"  /></a>
<!-- <a href="Download This">Download This</a> -->
<!-- <img src="images/pphs4.jpg" class"hs col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image12"/> -->
 <a href="images/pphs2.jpg">
<img src="images/pphs2.jpg" class"col-xs-8 col-sm-8 col-md-4 col-lg-4"/>
</a>
<a href="images/pphs1.jpg" download="Lena G HS #9" class="dL">Download</a>
<a href="images/pphs11.jpg" download="Lena G HS #10" class="dL">Download </a>
<a href="images/pphs2.jpg" download="Lena G HS #11" class="dL">Download </a>
</div>
</div>

<!-- <p>This is a test sentecne</p> -->
   <div class="footer6" >
      <div class="container">


      <div class="contactForm col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <div class="">
          <form class="form-horizontal"  action="/contactSend" method="post">
          <fieldset>
             <img src="images/cf3.jpg" class="contactPic img-responsive col-xs-3 col-sm-3 col-md-3 col-lg-4"/>
            <legend id="footer" class="text-center cM">Contact Me!</legend>
            <a href="#navTop" class="topBtn">(back to the top)</a>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-6 col-lg-6">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>


            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="email">Your E-mail</label>
              <div class="col-md-6 col-lg-6">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>


            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Your Message</label>
              <div class="col-md-6 col-lg-6">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
<!-- <p>@LG copywright</p> -->
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-6 col-lg-6 submit">
                <button type="submit" class="btn btn-lg">Submit</button>
              </div>
            </div>

          </fieldset>
          </form>
        </div>



   <!--  -->

  </div>


</div>



    </div>
    <p class="cW">&copy; Lena Grotticelli 2014. All rights reserved.</p>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

  </body>
</html>
