

<!DOCTYPE html>
<html>
    <head>
        <title>Lena's Photos</title>


      <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
   <link href="./css/ng.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href="./css/adipoli.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top" id="navTop">
    <div class="container">


      <a role="button" href="/" class="rsvpBtn">
      Home
      </a>
      <a role="button" href="/resume" class="rsvpBtn">
      Resume
      </a>

       <a role="button" href="/headshots" class="rsvpBtn">
      Headshots
      </a>
       <a role="button" href="/photos" class="active rsvpBtn">
      Photos
      </a>
      <a role="button" href="/videos" class="rsvpBtn">
      Videos
      </a>
      <a role="button" href="#footer" class="conBtn rsvpBtn">
      Contact
      </a>
    </div>

<!--
<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com">  <i class="fa fa-twitter"></i></a>
            <a href="https://foursquare.com"> <i class="fa fa-foursquare"></i></a>
            <a href="https://instagram.com"><i class="fa fa-instagram"></i></a> -->
    </div>


    <br><br> <br>
    <div class=" photos">

<div class="container3">

<a href="images/pp16.jpg">
<img src="images/pp16.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image18"/>
</a>
<a href="images/pp17.jpg">
<img src="images/pp17.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image19"/>
</a>
<a href="images/05.jpg">
<img src="images/05.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image8"/>
</a>

<a href="images/pp4.jpg">
<img src="images/pp4.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image5"/>
</a>
<a href="images/pp19.jpg">
<img src="images/pp19.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image13"/>
</a>
<a href="images/pp10.jpg">
<img src="images/pp10.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image7"/>
</a>


<a href="images/pp20.jpg">
<img src="images/pp20.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4" id="image16"/>
</a>
<a href="images/pp21.jpg">
<img src="images/pp21.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4" id="image21"/>
</a>
<a href="images/pp22.jpg">
<img src="images/pp22.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4" id="image22"/>
</a>

<a href="images/pp12.jpg">
<img src="images/pp12.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4" id="image11"/>
</a>
<a href="images/pp6.jpg">
<img src="images/pp6.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image4"/>
</a>
<a href="images/pp5.jpg">
<img src="images/pp5.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4"  id="image6"/>
</a>


<!--
<a href="images/pp9.jpg">
<img src="images/pp9.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-3 col-lg-3" id="image1"/>
</a>
<a href="images/pp8.jpg">
<img src="images/pp8.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-3 col-lg-3" id="image2"/>
</a>
<a href="images/pp3.jpg">
<img src="images/pp3.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-3 col-lg-3"  id="image3"/>
</a>

 -->
<!--

<a href="images/pp18.jpg">
<img src="images/pp18.jpg" class"img-responsive col-xs-8 col-sm-8 col-md-4 col-lg-4" id="image17"/>
</a> -->

<a href="images/pp13.jpg">
<img src="images/pp13.jpg" id="image23"/>
</a>
<a href="images/pp24.jpg">
<img src="images/pp24.jpg" id="image24"/>
</a>
<a href="images/pp2.jpg">
<img src="images/pp2.jpg" id="image25"/>
</a>
<a href="images/pp23.jpg">
<img src="images/pp23.jpg" id="image26"/>
</a>






</div>
<br><br>
<div class="footer7" >
      <div class="container">


      <div class="contactForm col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <div class="">
          <form class="form-horizontal"  action="/contactSend" method="post">
          <fieldset>
             <img src="images/cf4.jpg" id="contactPic"class="img-responsive col-xs-4 col-sm-4 col-md-4 col-lg-4"/>
            <legend id="footer" class="text-center cM">Contact Me!</legend>
            <a href="#navTop" class="topBtn">(back to the top)</a>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-6 col-lg-6">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>


            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="email">Your E-mail</label>
              <div class="col-md-6 col-lg-6">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>


            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Your Message</label>
              <div class="col-md-6 col-lg-6">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
<!-- <p>@LG copywright</p> -->
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-6 col-lg-6 submit">
                <button type="submit" class="btn btn-lg">Submit</button>
              </div>
            </div>

          </fieldset>
          </form>
        </div>



   <!--  -->

  </div>


</div>



    </div>


<!--  -->
    <p class="cW">&copy; Lena Grotticelli 2014. All rights reserved.</p>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="./css/jquery.adipoli.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {

$('#image4').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Crimes of the Heart, Babe</h1>'
});
$('#image5').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Grease, Frenchie</h1>'
});
$('#image6').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Grease, Frenchie</h1>'
});
$('#image7').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">The Larame Project, Romaine</h1>'
});
$('#image8').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">The Triad, NYC</h1>'
});


$('#image11').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Spelling Bee, Olive</h1>'
});
$('#image13').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Crimes of the Heart, Babe</h1>'
});
$('#image16').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">The Little Engine That Could, Little Red</h1>'
});

$('#image21').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Holiday Jubilee</h1>'
});
$('#image22').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Spring Awakening, Thea</h1>'
});
$('#image23').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt4">The Little Engine That Could, Little Red</h1>'
});
$('#image24').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt4">Spring Awakening, Thea</h1>'
});
$('#image25').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt4">Grease, Frenchie</h1>'
});
$('#image26').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt4">Crimes of the Heart, Babe</h1>'
});
$('#image19').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Grease, Frenchie</h1>'
});
$('#image18').adipoli({
    'startEffect' : 'overlay',
    'hoverEffect' : 'normal',
    'overlayText' :'<h1 class="photoTxt3">Spelling Bee, Olive</h1>'
});

    });
    </script>
  </body>
</html>
