

<!DOCTYPE html>
<html>
    <head>
        <title>Lena's Resume</title>

    <link href='http://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css'>
      <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
   <link href="./css/ng.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href="./css/adipoli.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top" id="navTop">
    <div class="container">


      <a role="button" href="/" class="rsvpBtn">
      Home
      </a>
      <a role="button" href="/resume" class="active rsvpBtn">
      Resume
      </a>

       <a role="button" href="/headshots" class="rsvpBtn">
      Headshots
      </a>
       <a role="button" href="/photos" class="rsvpBtn">
      Photos
      </a>
      <a role="button" href="/videos" class="rsvpBtn">
      Videos
      </a>
      <a role="button" href="#footer" class="rsvpBtn">
      Contact
      </a>
    </div>

<!--
<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com">  <i class="fa fa-twitter"></i></a>
            <a href="https://foursquare.com"> <i class="fa fa-foursquare"></i></a>
            <a href="https://instagram.com"><i class="fa fa-instagram"></i></a> -->
    </div>



<div class="container4">

  <a href="images/resume.pdf" download="Lena G's Resume"  class="btn btn-lg resBtn">Download Resume </a>
<img src="images/resume.jpg" class"img-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" />
</div>


   <div class="footer4" >
      <div class="container">


      <div class="contactForm col-xs-8 col-sm-8 col-md-12 col-lg-12">
        <div class="">
       <form class="form-horizontal"  action="/contactSend" method="post">
          <fieldset>
             <img src="images/cf2.jpg" class="contactPic img-responsive col-xs-4 col-sm-4 col-md-4 col-lg-4"/>
            <legend id="footer" class="text-center cM">Contact Me!</legend>
            <a href="#navTop" class="topBtn">(back to the top)</a>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-6 col-lg-6">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>


            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="email">Your E-mail</label>
              <div class="col-md-6 col-lg-6">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>


            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Your Message</label>
              <div class="col-md-6 col-lg-6">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
<!-- <p>@LG copywright</p> -->
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-6 col-lg-6 submit">
                <button type="submit" class="btn btn-lg">Submit</button>
              </div>
            </div>

          </fieldset>
          </form>
        </div>



   <!--  -->

  </div>


</div>



    </div>
    <p class="cW">&copy; Lena Grotticelli 2014. All rights reserved.</p>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="jquery.adipoli.min.js" type="text/javascript"></script>

  </body>
</html>
